<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
        </div>
        <div class="row">
            <div class="collapse navbar-collapse col-md-4 col-md-offset-4">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/mohabusama/togile" target="_blank">
                            <i class="fa fa-github-square"></i>
                            Source
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mohabusama/togile/blob/master/LICENSE" target="_blank">
                            <i class="fa fa-check"></i>
                            License
                        </a>
                    </li>
                    <li>
                        <a href="" title="Configure your togile Server"><i class="fa fa-gear"></i>Server</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
