<li ng-repeat="list in lists" ng-init="listIdx = $index" class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default transparent todo-list">
        <div ng-mouseover="list._hover=true" ng-mouseleave="list._hover=false"
        ng-Dblclick="list._edit=true;" class="panel-heading transparent-dark">
            <div class="row">
                <button ng-show="list._edit" ng-click="list._edit=false;" type="button"
                class="close pull-left actions" aria-hidden="true">
                    &times;
                </button>
                <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2">
                    <center>
                        <span ng-show="!list._edit" title="Double Click to Edit">
                            {{list.title}}
                        </span>
                        <form class="input-group" ng-show="list._edit" ng-submit="list.title=list._title;updateList();" >
                            <input ng-model="list._title" ng-init="list._title=list.title" set-focus="list._edit"
                            key-esc="list._edit=false"
                            type="text" class="form-control" placeholder="Edit List">
                            <span class="input-group-btn">
                                <button class="btn btn-default" title="Edit List" type="submit">
                                    <span class="fa fa-pencil">
                                    </span>
                                </button>
                            </span>
                        </form>
                    </center>
                </div>
                <div class="col-md-3 col-sm-3">
                    <span ng-show="!list._edit && list._hover" ng-click="deleteList()" class="fa fa-trash-o pull-right actions">
                    </span>
                    <span ng-show="!list._edit && list._hover" ng-click="list._edit=true;"
                    class="fa fa-pencil pull-right actions">
                    </span>
                </div>
            </div>
        </div>
        <ul id="todos-container" class="list-group">
            <!-- TODOs -->
            <div ng-include="'/app/views/partials/todo.html'"></div>
            <li class="list-group-item transparent new-todo">
                <form class="input-group" ng-submit="createTodo(list, listIdx)">
                    <input type="text" class="form-control" placeholder="New Todo! Type & hit enter ..."
                    ng-model="list._newTodo.value" >
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" title="Add new Todo">
                            <span class="glyphicon glyphicon-plus-sign">
                            </span>
                        </button>
                    </span>
                </form>
            </li>
        </ul>
    </div>
</li>
