<div ng-controller="ListsCtrl" class="main">
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">togile</a>
        </div>
        <div class="container">
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-4 col-xs-offset-1">
                <div class="input-group navbar-form">
                    <input ng-model="_newList.title" key-enter="createList()" type="text"
                    class="form-control" placeholder="New List! Type & hit enter ...">
                    <span class="input-group-btn">
                        <button ng-click="createList()" class="btn btn-default" type="button"
                        title="Add new list">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <div class="row lists">
        <ul class="col-md-10 col-sm-12 col-xs-12" ng-include="'/app/views/partials/list.html'">
        </ul>
        <div class="col-md-2 hidden-xs hidden-sm affix search">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </span>
                <input type="text" class="form-control" placeholder="Quick Search ..." ng-model="needle">
            </div>
            <ul ng-repeat="list in lists" class="list-group search-list">
                <li ng-repeat="todo in list._todos | filter:comparator" class="row todo-item search-todo-item list-group-item transparent">
                    <div class="col-md-1">
                        <button ng-show="todo._edit" ng-click="todo._edit=false;" type="button"
                        class="close pull-left actions" aria-hidden="true">
                            &times;
                        </button>
                        <span ng-show="todo.status && !todo._edit" ng-click="updateTodoStatus(false);"
                        class="fa fa-check-square actions">
                        </span>
                        <span ng-show="!todo.status && !todo._edit" ng-click="updateTodoStatus(true);"
                        class="fa fa-square-o actions">
                        </span>
                    </div>
                    <div class="col-md-10">
                        <span ng-model="todo.value" ng-show="!todo._edit">
                            {{todo.value}}
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
