<div class="container">
    <div id="tg-carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#tg-carousel" data-slide-to="0" class="active">
            </li>
            <li data-target="#tg-carousel" data-slide-to="1">
            </li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            
            <div class="item active jumbotron transparent-light">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><img class="logo-lg" src="images/tg.png"/> togile</h1>
                        <p>Your Agile TODO Dashboard!</p>
                        <p class="signin">
                            <a href="/login/google">
                                <button class="btn btn-lg">Sign in with Google</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="item jumbotron transparent-light">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><img class="logo-lg" src="images/tg.png"/> togile</h1>
                        <p>It's <span class="label label-default">
                            <a href="https://github.com/mohabusama/togile" target="_blank"><i class="fa fa-github-square"></i> Open Source</a>
                        </span>. Deploy it on Your Own server!</p>
                        <p class="signin">
                            <a href="/login/google">
                                <button class="btn btn-lg">Sign in with Google</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
