/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul, ol {
  list-style-type: none;
}

/*Togile structures*/
.main {
  padding: 0 15px;
}

.lists {
  margin-top: 50px;
}

.actions {
  margin-right: 5px;
  cursor: pointer;
}