/* Space out content a bit */
body {
  padding-top: 20px;
  /*padding-bottom: 20px;*/
  padding-bottom: 70px;
  /*background-image: url('../images/back.jpg');*/
}

.back {
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background: url('../images/back.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
}

ul, ol {
  list-style-type: none;
}

.logo {
  width: 20px;
  height: 20px;
}

.logo-lg {
  width: 60px;
  height: 60px;
}

.carousel,
.carousel .item
{
  height: 500px;
}

.carousel-caption {
  top: 30%;
}

.item {
  opacity: 0.8;
}

/*Togile structures*/
.main {
  padding: 0 15px;
}

.white {
  color: white !important;
}

.lists {
  margin-top: 50px;
  cursor: default;
}

.actions {
  /*margin-right: 5px;*/
  cursor: pointer;
}

.transparent,
input
{
  background-color: rgba(90, 90, 90, 0.5) !important;
  color: white !important;
}

.transparent-light {
  background-color: rgba(50, 50, 50, 0.8) !important;
  color: white !important;
}

.transparent-dark,
.label,
button
{
  background-color: rgba(20, 20, 20, 0.8) !important;
  color: white !important;
}

.label a {
  color: white;
  text-decoration: none;
}

.signin {
  margin-top: 7%;
}

.todo-list {
  /*border: none;*/
  border-radius: 0px !important;
  padding-bottom: 0px;
  padding-top: 0px;
  color: white;
}

.list-group-item {
  border: none;
}

.todo-item {
  padding-right: 0px;
  padding-left:  0px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 0.1em dotted white !important;
  border-radius: 0px !important;
}

.todo-item .row .col-md-1 span,
.todo-item .row .col-md-1 button
{
  margin-left: 10px;
}

.new-todo {
  border: none;
  /*margin-bottom: -20px !important;*/
}

.search {
  right: 0;
}

.search-list {
  margin: 0px;
}

.search-todo-item {
  border: none;
  border-bottom: 0.1em dotted white;
  margin: 0px;
}
