/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/back.png');
}

ul, ol {
  list-style-type: none;
}

/*Togile structures*/
.main {
  padding: 0 15px;
}

.lists {
  margin-top: 50px;
  cursor: default;
}

.actions {
  margin-right: 5px;
  cursor: pointer;
}

.transparent {
  background-color: rgba(245, 245, 245, 0.1) !important;
  /*border-color: rgba(245, 245, 245, 0.9) !important;*/
}

.transparent-dark {
  background-color: rgba(245, 245, 245, 0.1) !important;
  /*border-color: rgba(245, 245, 245, 0.9) !important;*/
}

.todo-list {
  /*border: none;*/
  border-radius: 0px !important;
  padding-bottom: 0px;
  padding-top: 5px;
}

.todo-item {
  padding-right: 0px;
  padding-left:  0px;
  margin-right: 0px;
  margin-left: 0px;
}

.new-todo {
  border: none;
  margin-bottom: -20px !important;
}
